html {
    font-family: "Open sans", sans-serif;
}

.heading {
    background-color: orange;
    width: 100%;
    padding: 1px;
}

.left-bar {
    background-color: papayawhip;
    position: relative;
    float: left;
    width: 12%;
}

li {
    list-style: none;
}

.main-section {
    width: 75%;
    position: relative;
    padding: 2px;
    background-color: whitesmoke;
    overflow: auto;
}

.left {
    position: relative;
    float: left;
}

table th td {
    border: black 1px;
}