html {
    font-family: "Open sans", sans-serif;
}

.heading {
    background-color: orange;
    width: 100%;
    padding: 1px;
}

.left-bar {
    position: relative;
    float: left;
    width: 12%;
}

li {
    list-style: none;
}

.main-section {
    width: 75%;
    position: relative;
    padding: 2px;
    overflow: hidden;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.left {
    position: relative;
    float: left;
}

table,
th,
td,
.libox {
    border: 1px solid black;
}

.ovrflo {
    overflow: hidden;
    position: relative;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clearing {
    clear: both;
}