html {
    font-family: "Open sans", sans-serif;
}

.heading {
    background-color: orange;
    width: 100%;
    padding: 1px;
}

.left-bar {
    position: relative;
    float: left;
    width: 12%;
}

li {
    list-style: none;
    margin-left: -40px;
}

.main-section {
    width: 75%;
    position: relative;
    padding: 2px;
    overflow: auto;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.left {
    position: relative;
    float: left;
}

table,
th,
td,
.libox {
    border: 2px solid black;
}

.ovrflo {
    overflow: auto;
    position: relative;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clearing {
    clear: both;
}

.nobo {
    border: none;
}

.box-small {
    border: 2px solid black;
    width: 150px;
    padding: 3px;
}

.box-large {
    border: 2px solid black;
    width: 800px;
    padding: 3px;
}